/* line 1, ../scss/style.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 11, ../scss/_grid.scss */
.row::after {
  clear: both;
  display: block;
  content: '';
}

/* line 24, ../scss/_grid.scss */
.col {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 31, ../scss/_grid.scss */
.col1 {
  width: 8.3333333333%;
}

/* line 35, ../scss/_grid.scss */
.offset1 {
  margin-left: 8.3333333333%;
}

/* line 31, ../scss/_grid.scss */
.col2 {
  width: 16.6666666667%;
}

/* line 35, ../scss/_grid.scss */
.offset2 {
  margin-left: 16.6666666667%;
}

/* line 31, ../scss/_grid.scss */
.col3 {
  width: 25%;
}

/* line 35, ../scss/_grid.scss */
.offset3 {
  margin-left: 25%;
}

/* line 31, ../scss/_grid.scss */
.col4 {
  width: 33.3333333333%;
}

/* line 35, ../scss/_grid.scss */
.offset4 {
  margin-left: 33.3333333333%;
}

/* line 31, ../scss/_grid.scss */
.col5 {
  width: 41.6666666667%;
}

/* line 35, ../scss/_grid.scss */
.offset5 {
  margin-left: 41.6666666667%;
}

/* line 31, ../scss/_grid.scss */
.col6 {
  width: 50%;
}

/* line 35, ../scss/_grid.scss */
.offset6 {
  margin-left: 50%;
}

/* line 31, ../scss/_grid.scss */
.col7 {
  width: 58.3333333333%;
}

/* line 35, ../scss/_grid.scss */
.offset7 {
  margin-left: 58.3333333333%;
}

/* line 31, ../scss/_grid.scss */
.col8 {
  width: 66.6666666667%;
}

/* line 35, ../scss/_grid.scss */
.offset8 {
  margin-left: 66.6666666667%;
}

/* line 31, ../scss/_grid.scss */
.col9 {
  width: 75%;
}

/* line 35, ../scss/_grid.scss */
.offset9 {
  margin-left: 75%;
}

/* line 31, ../scss/_grid.scss */
.col10 {
  width: 83.3333333333%;
}

/* line 35, ../scss/_grid.scss */
.offset10 {
  margin-left: 83.3333333333%;
}

/* line 31, ../scss/_grid.scss */
.col11 {
  width: 91.6666666667%;
}

/* line 35, ../scss/_grid.scss */
.offset11 {
  margin-left: 91.6666666667%;
}

/* line 31, ../scss/_grid.scss */
.col12 {
  width: 100%;
}

/* line 35, ../scss/_grid.scss */
.offset12 {
  margin-left: 100%;
}

@media (max-width: 1168px) {
  /* line 46, ../scss/_grid.scss */
  .colL1 {
    width: 8.3333333333%;
  }

  /* line 50, ../scss/_grid.scss */
  .offsetL1 {
    margin-left: 8.3333333333%;
  }

  /* line 54, ../scss/_grid.scss */
  h1 {
    font-size: 3em;
    letter-spacing: 1.5px;
    height: 50px;
  }

  /* line 60, ../scss/_grid.scss */
  p {
    font-size: 0.8em;
  }

  /* line 46, ../scss/_grid.scss */
  .colL2 {
    width: 16.6666666667%;
  }

  /* line 50, ../scss/_grid.scss */
  .offsetL2 {
    margin-left: 16.6666666667%;
  }

  /* line 54, ../scss/_grid.scss */
  h1 {
    font-size: 3em;
    letter-spacing: 1.5px;
    height: 50px;
  }

  /* line 60, ../scss/_grid.scss */
  p {
    font-size: 0.8em;
  }

  /* line 46, ../scss/_grid.scss */
  .colL3 {
    width: 25%;
  }

  /* line 50, ../scss/_grid.scss */
  .offsetL3 {
    margin-left: 25%;
  }

  /* line 54, ../scss/_grid.scss */
  h1 {
    font-size: 3em;
    letter-spacing: 1.5px;
    height: 50px;
  }

  /* line 60, ../scss/_grid.scss */
  p {
    font-size: 0.8em;
  }

  /* line 46, ../scss/_grid.scss */
  .colL4 {
    width: 33.3333333333%;
  }

  /* line 50, ../scss/_grid.scss */
  .offsetL4 {
    margin-left: 33.3333333333%;
  }

  /* line 54, ../scss/_grid.scss */
  h1 {
    font-size: 3em;
    letter-spacing: 1.5px;
    height: 50px;
  }

  /* line 60, ../scss/_grid.scss */
  p {
    font-size: 0.8em;
  }

  /* line 46, ../scss/_grid.scss */
  .colL5 {
    width: 41.6666666667%;
  }

  /* line 50, ../scss/_grid.scss */
  .offsetL5 {
    margin-left: 41.6666666667%;
  }

  /* line 54, ../scss/_grid.scss */
  h1 {
    font-size: 3em;
    letter-spacing: 1.5px;
    height: 50px;
  }

  /* line 60, ../scss/_grid.scss */
  p {
    font-size: 0.8em;
  }

  /* line 46, ../scss/_grid.scss */
  .colL6 {
    width: 50%;
  }

  /* line 50, ../scss/_grid.scss */
  .offsetL6 {
    margin-left: 50%;
  }

  /* line 54, ../scss/_grid.scss */
  h1 {
    font-size: 3em;
    letter-spacing: 1.5px;
    height: 50px;
  }

  /* line 60, ../scss/_grid.scss */
  p {
    font-size: 0.8em;
  }

  /* line 46, ../scss/_grid.scss */
  .colL7 {
    width: 58.3333333333%;
  }

  /* line 50, ../scss/_grid.scss */
  .offsetL7 {
    margin-left: 58.3333333333%;
  }

  /* line 54, ../scss/_grid.scss */
  h1 {
    font-size: 3em;
    letter-spacing: 1.5px;
    height: 50px;
  }

  /* line 60, ../scss/_grid.scss */
  p {
    font-size: 0.8em;
  }

  /* line 46, ../scss/_grid.scss */
  .colL8 {
    width: 66.6666666667%;
  }

  /* line 50, ../scss/_grid.scss */
  .offsetL8 {
    margin-left: 66.6666666667%;
  }

  /* line 54, ../scss/_grid.scss */
  h1 {
    font-size: 3em;
    letter-spacing: 1.5px;
    height: 50px;
  }

  /* line 60, ../scss/_grid.scss */
  p {
    font-size: 0.8em;
  }

  /* line 46, ../scss/_grid.scss */
  .colL9 {
    width: 75%;
  }

  /* line 50, ../scss/_grid.scss */
  .offsetL9 {
    margin-left: 75%;
  }

  /* line 54, ../scss/_grid.scss */
  h1 {
    font-size: 3em;
    letter-spacing: 1.5px;
    height: 50px;
  }

  /* line 60, ../scss/_grid.scss */
  p {
    font-size: 0.8em;
  }

  /* line 46, ../scss/_grid.scss */
  .colL10 {
    width: 83.3333333333%;
  }

  /* line 50, ../scss/_grid.scss */
  .offsetL10 {
    margin-left: 83.3333333333%;
  }

  /* line 54, ../scss/_grid.scss */
  h1 {
    font-size: 3em;
    letter-spacing: 1.5px;
    height: 50px;
  }

  /* line 60, ../scss/_grid.scss */
  p {
    font-size: 0.8em;
  }

  /* line 46, ../scss/_grid.scss */
  .colL11 {
    width: 91.6666666667%;
  }

  /* line 50, ../scss/_grid.scss */
  .offsetL11 {
    margin-left: 91.6666666667%;
  }

  /* line 54, ../scss/_grid.scss */
  h1 {
    font-size: 3em;
    letter-spacing: 1.5px;
    height: 50px;
  }

  /* line 60, ../scss/_grid.scss */
  p {
    font-size: 0.8em;
  }

  /* line 46, ../scss/_grid.scss */
  .colL12 {
    width: 100%;
  }

  /* line 50, ../scss/_grid.scss */
  .offsetL12 {
    margin-left: 100%;
  }

  /* line 54, ../scss/_grid.scss */
  h1 {
    font-size: 3em;
    letter-spacing: 1.5px;
    height: 50px;
  }

  /* line 60, ../scss/_grid.scss */
  p {
    font-size: 0.8em;
  }
}
@media (max-width: 768px) {
  /* line 73, ../scss/_grid.scss */
  .colM1 {
    width: 8.3333333333%;
  }

  /* line 77, ../scss/_grid.scss */
  .offsetM1 {
    margin-left: 8.3333333333%;
  }

  /* line 73, ../scss/_grid.scss */
  .colM2 {
    width: 16.6666666667%;
  }

  /* line 77, ../scss/_grid.scss */
  .offsetM2 {
    margin-left: 16.6666666667%;
  }

  /* line 73, ../scss/_grid.scss */
  .colM3 {
    width: 25%;
  }

  /* line 77, ../scss/_grid.scss */
  .offsetM3 {
    margin-left: 25%;
  }

  /* line 73, ../scss/_grid.scss */
  .colM4 {
    width: 33.3333333333%;
  }

  /* line 77, ../scss/_grid.scss */
  .offsetM4 {
    margin-left: 33.3333333333%;
  }

  /* line 73, ../scss/_grid.scss */
  .colM5 {
    width: 41.6666666667%;
  }

  /* line 77, ../scss/_grid.scss */
  .offsetM5 {
    margin-left: 41.6666666667%;
  }

  /* line 73, ../scss/_grid.scss */
  .colM6 {
    width: 50%;
  }

  /* line 77, ../scss/_grid.scss */
  .offsetM6 {
    margin-left: 50%;
  }

  /* line 73, ../scss/_grid.scss */
  .colM7 {
    width: 58.3333333333%;
  }

  /* line 77, ../scss/_grid.scss */
  .offsetM7 {
    margin-left: 58.3333333333%;
  }

  /* line 73, ../scss/_grid.scss */
  .colM8 {
    width: 66.6666666667%;
  }

  /* line 77, ../scss/_grid.scss */
  .offsetM8 {
    margin-left: 66.6666666667%;
  }

  /* line 73, ../scss/_grid.scss */
  .colM9 {
    width: 75%;
  }

  /* line 77, ../scss/_grid.scss */
  .offsetM9 {
    margin-left: 75%;
  }

  /* line 73, ../scss/_grid.scss */
  .colM10 {
    width: 83.3333333333%;
  }

  /* line 77, ../scss/_grid.scss */
  .offsetM10 {
    margin-left: 83.3333333333%;
  }

  /* line 73, ../scss/_grid.scss */
  .colM11 {
    width: 91.6666666667%;
  }

  /* line 77, ../scss/_grid.scss */
  .offsetM11 {
    margin-left: 91.6666666667%;
  }

  /* line 73, ../scss/_grid.scss */
  .colM12 {
    width: 100%;
  }

  /* line 77, ../scss/_grid.scss */
  .offsetM12 {
    margin-left: 100%;
  }
}
@media (max-width: 412px) {
  /* line 101, ../scss/_grid.scss */
  .colS1 {
    width: 8.3333333333%;
  }

  /* line 105, ../scss/_grid.scss */
  .offsetS1 {
    margin-left: 8.3333333333%;
  }

  /* line 101, ../scss/_grid.scss */
  .colS2 {
    width: 16.6666666667%;
  }

  /* line 105, ../scss/_grid.scss */
  .offsetS2 {
    margin-left: 16.6666666667%;
  }

  /* line 101, ../scss/_grid.scss */
  .colS3 {
    width: 25%;
  }

  /* line 105, ../scss/_grid.scss */
  .offsetS3 {
    margin-left: 25%;
  }

  /* line 101, ../scss/_grid.scss */
  .colS4 {
    width: 33.3333333333%;
  }

  /* line 105, ../scss/_grid.scss */
  .offsetS4 {
    margin-left: 33.3333333333%;
  }

  /* line 101, ../scss/_grid.scss */
  .colS5 {
    width: 41.6666666667%;
  }

  /* line 105, ../scss/_grid.scss */
  .offsetS5 {
    margin-left: 41.6666666667%;
  }

  /* line 101, ../scss/_grid.scss */
  .colS6 {
    width: 50%;
  }

  /* line 105, ../scss/_grid.scss */
  .offsetS6 {
    margin-left: 50%;
  }

  /* line 101, ../scss/_grid.scss */
  .colS7 {
    width: 58.3333333333%;
  }

  /* line 105, ../scss/_grid.scss */
  .offsetS7 {
    margin-left: 58.3333333333%;
  }

  /* line 101, ../scss/_grid.scss */
  .colS8 {
    width: 66.6666666667%;
  }

  /* line 105, ../scss/_grid.scss */
  .offsetS8 {
    margin-left: 66.6666666667%;
  }

  /* line 101, ../scss/_grid.scss */
  .colS9 {
    width: 75%;
  }

  /* line 105, ../scss/_grid.scss */
  .offsetS9 {
    margin-left: 75%;
  }

  /* line 101, ../scss/_grid.scss */
  .colS10 {
    width: 83.3333333333%;
  }

  /* line 105, ../scss/_grid.scss */
  .offsetS10 {
    margin-left: 83.3333333333%;
  }

  /* line 101, ../scss/_grid.scss */
  .colS11 {
    width: 91.6666666667%;
  }

  /* line 105, ../scss/_grid.scss */
  .offsetS11 {
    margin-left: 91.6666666667%;
  }

  /* line 101, ../scss/_grid.scss */
  .colS12 {
    width: 100%;
  }

  /* line 105, ../scss/_grid.scss */
  .offsetS12 {
    margin-left: 100%;
  }
}
/* line 10, ../scss/style.scss */
.pageContainer {
  width: 100%;
}

/* line 14, ../scss/style.scss */
.header {
  padding: 20px;
  text-align: center;
  background: black;
}

/* line 20, ../scss/style.scss */
.block {
  display: block;
}

/* line 24, ../scss/style.scss */
.style1 {
  display: inline-block;
  height: 70px;
  padding-top: 40px;
}

/* line 31, ../scss/style.scss */
.line_decoration {
  width: 100%;
  border: 1px solid gray;
}

/* line 37, ../scss/style.scss */
body {
  font-size: 100%;
}

/* line 41, ../scss/style.scss */
p {
  font-size: 1em;
  font-family: Poppins, sans-serif;
}

/* line 46, ../scss/style.scss */
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  width: 60%;
  height: 70px;
}

/* line 57, ../scss/style.scss */
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
}

/* line 63, ../scss/style.scss */
#navTitleLink a:hover {
  color: white;
}

/* line 67, ../scss/style.scss */
.black {
  background-color: black;
}

/* line 71, ../scss/style.scss */
.white {
  background-color: #ecf0f1;
}

/* line 76, ../scss/style.scss */
.bold {
  font-weight: bold;
}

/* line 80, ../scss/style.scss */
#img__gallery {
  padding-left: 8px;
  padding-bottom: 30px;
  float: right;
  width: 33.33333%;
}

/* line 87, ../scss/style.scss */
#img__ourRooms {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
}

/* line 95, ../scss/style.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  text-align: center;
}
/* line 101, ../scss/style.scss */
ul::after {
  clear: both;
  display: block;
  content: '';
}

/* line 108, ../scss/style.scss */
li {
  float: left;
  color: gray;
  width: 16.6666666667%;
  font-family: helvetica;
  font-size: 25px;
  text-transform: uppercase;
}

/* line 117, ../scss/style.scss */
li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 25px;
  text-decoration: none;
}

/* line 125, ../scss/style.scss */
li a:hover {
  color: white;
}

/* line 129, ../scss/style.scss */
.active {
  color: white;
}

/* line 134, ../scss/style.scss */
.fullScreenImage .col {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
/* line 138, ../scss/style.scss */
.fullScreenImage .col img {
  width: 100%;
}

/* line 153, ../scss/style.scss */
.galleryArrows {
  color: white;
  text-align: right;
  font-size: 25px;
  font-weight: bold;
  margin-top: 70px;
  letter-spacing: 15px;
}

/* line 162, ../scss/style.scss */
.welcomeRow {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 165, ../scss/style.scss */
.welcomeRow .welcomeHeading {
  text-align: right;
  color: white;
  letter-spacing: 3px;
}
/* line 171, ../scss/style.scss */
.welcomeRow .welcomeText {
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: none;
  margin: 20 10 10 0;
  width: 90%;
}

/* line 180, ../scss/style.scss */
.welcomeLine {
  width: 200px;
  float: right;
  color: white;
}

/* line 186, ../scss/style.scss */
.boldLearnMore {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: white;
}

/* line 193, ../scss/style.scss */
#learnMoreLink {
  color: white;
  text-decoration: none;
}

/* line 198, ../scss/style.scss */
#learnMoreLink a:hover {
  color: gray;
}

/* line 202, ../scss/style.scss */
.rightArrow {
  color: gray;
  font-size: 20px;
}

/* line 207, ../scss/style.scss */
.ourRoomsHeading {
  color: black;
  font-style: italic;
  padding-right: 40px;
  letter-spacing: 5px;
  padding-top: 30px;
}

/* line 215, ../scss/style.scss */
.ourRoomsLine {
  width: 200px;
  float: left;
  color: black;
}

/* line 221, ../scss/style.scss */
.ourRoomsText {
  font-weight: none;
  margin: 20 10 10 0;
  width: 90%;
  color: black;
}

/* line 228, ../scss/style.scss */
.ourRoomsMore {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: black;
}

/* line 235, ../scss/style.scss */
#ourRoomsLink {
  color: black;
  text-decoration: none;
}

/* line 240, ../scss/style.scss */
#ourRoomsLink a:hover {
  color: gray;
}

/* line 244, ../scss/style.scss */
.bottomRow {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 248, ../scss/style.scss */
.bottomRow .guestHeading {
  color: white;
  letter-spacing: 3px;
  font-style: italic;
  text-align: right;
  letter-spacing: 5px;
  padding: 10% 0;
}

/* line 258, ../scss/style.scss */
.guestHeading {
  color: white;
  font-style: italic;
  text-align: right;
  letter-spacing: 5px;
  padding: 10% 0;
}

/* line 266, ../scss/style.scss */
.guestLine {
  width: 200px;
  float: right;
  color: white;
  padding-top: 0;
}

/* line 273, ../scss/style.scss */
.guestBox {
  width: 300px;
  padding: 25px;
  margin: 25px;
  background-color: white;
}

/* line 280, ../scss/style.scss */
.guestBoxHead {
  color: black;
  font-family: Poppins, sans-serif;
}

/* line 285, ../scss/style.scss */
.guestComment {
  color: black;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: none;
  margin: 20 10 10 0;
  width: 90%;
}

/*# sourceMappingURL=style.css.map */
