$columns: 12;
$columnWidth: 100% / $columns;

$lrgWidth: 1168px;
$medWidth: 768px;
$smlWidth: 412px;

.row{ 
    
    // margin-bottom: 15px;
    &::after{
        clear: both;
        display: block;
        content: '';
    }
}

// .row::after{
//     clear: both;
//     display: block;
//     content: '';
// }

.col{
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

@for $i from 1 through $columns{
    .col#{$i}{
        width:$columnWidth * $i;
    }

    .offset#{$i}{
        margin-left:$columnWidth * $i;
    }
}



// media query for large (laptop): 1168px 

@media (max-width: $lrgWidth) {
    @for $i from 1 through $columns{
        .colL#{$i}{
            width:$columnWidth * $i;
        }

        .offsetL#{$i}{
            margin-left:$columnWidth * $i;
        }
        
        h1{
            font-size: 3em;
            letter-spacing: 1.5px;
            height: 50px;
        }

        p {
            font-size: 0.8em;
        }


    }
}


// media query for medium (tablet): 768px 

@media (max-width: $medWidth) {
    @for $i from 1 through $columns{
        .colM#{$i}{
            width:$columnWidth * $i;
        }

        .offsetM#{$i}{
            margin-left:$columnWidth * $i;
        }
        
    // (1) make main image into a background image


    // (2) move header and nav bar down so they float on top of main background image
        .harbHeader{

        }
    // (3) delete black div (with < > arrows) for image gallery

    // (4) move welcome text to left from right

    // (5) display one gallery image (instead of 3)
    }
}


// media query for small (mobile): 412px 

@media (max-width: $smlWidth) {
    @for $i from 1 through $columns{
        .colS#{$i}{
            width:$columnWidth * $i;
        }

        .offsetS#{$i}{
            margin-left:$columnWidth * $i;
        }

    // (1) turn nav bar into dropdown nav (hamburger) and move to left side

    // (2) have 3 gallery images take up full row

    // (3) make welcome text take up full row

    // (4) put [our rooms text] + [room image] + [guest comment] on one row


    }
}

