*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import 'grid';


.pageContainer{
	width: 100%;
}

.header{
	padding: 20px;
	text-align: center;
	background: black;
}

.block{
	display: block;
}

.style1{
	display: inline-block;
	height: 70px;
	padding-top: 40px;

}

.line_decoration{
	width: 100%;
	border: 1px solid gray;

}

body {
  font-size: 100%;
}

p {
  font-size: 1em;
  font-family: Poppins, sans-serif;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	width: 60%;
	height: 70px;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	font-weight: bold;
}

#navTitleLink a:hover {
  color: white;
}

.black{
    background-color: black;
}

.white{
    background-color: #ecf0f1;

}

.bold{
	font-weight: bold;
}

#img__gallery{
	padding-left: 8px;
	padding-bottom: 30px;
	float: right;
	width: 33.33333%;
}

#img__ourRooms{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: auto; 
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;
	text-align: center;
	    &::after{
        clear: both;
        display: block;
        content: '';
    }
}

li{
	float: left;
	color: gray;
	width: 16.6666666667%;
	font-family: helvetica;
	font-size: 25px;
	text-transform: uppercase;
}

li a{
	display: block;
	color: gray;
	text-align: center;
	padding: 25px;
	text-decoration: none;
}

li a:hover {
	color: white;
}

.active {
  color: white;
}

.fullScreenImage{
	.col{
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 0;
		img{
			width: 100%;
		}
	}
}

 .galleryArrows{
 	color: white;
 	text-align: right;
 	font-size: 25px;
 	font-weight: bold;
 	margin-top: 70px;
 	letter-spacing: 15px; 
 }

.welcomeRow{
	padding-top: 20px;
	padding-bottom: 20px;
	.welcomeHeading{
		text-align: right;
		color: white;
		letter-spacing: 3px; 
	}

	.welcomeText{
		color: white;
		font-family: Poppins, sans-serif;
		font-weight: none;
		margin:20 10 10 0;
		width: 90%;
	}
}

.welcomeLine{
	width: 200px;
	float: right;
	color: white;
}

.boldLearnMore{
	font-family: Poppins, sans-serif;
	font-weight: bold;
	font-style: italic;
	color: white;
}

#learnMoreLink {
  color: white;
  text-decoration: none;
}

#learnMoreLink a:hover {
  color: gray;
}

.rightArrow{
	color: gray;
	font-size: 20px;
}

.ourRoomsHeading{
	color: black;
	font-style: italic;
	padding-right: 40px;
	letter-spacing: 5px; 
	padding-top: 30px;
}

.ourRoomsLine{
	width: 200px;
	float: left;
	color: black;
}

.ourRoomsText{
	font-weight: none;
	margin:20 10 10 0;
	width: 90%;
	color: black;
}

.ourRoomsMore{
	font-family: Poppins, sans-serif;
	font-weight: bold;
	font-style: italic;
	color: black;
}

#ourRoomsLink {
  color: black;
  text-decoration: none;
}

#ourRoomsLink a:hover {
  color: gray;
}

.bottomRow{
	padding-top: 20px;
	padding-bottom: 20px;
	
	.guestHeading{
		color: white;
		letter-spacing: 3px;
		font-style: italic;
		text-align: right;
		letter-spacing: 5px; 
		padding: 10% 0; 
	}
}

.guestHeading{
	color: white;
	font-style: italic;
	text-align: right;
	letter-spacing: 5px; 
	padding: 10% 0;
}

.guestLine{
	width: 200px;
	float: right;
	color: white;
	padding-top: 0;
}

.guestBox{
	width: 300px;
	padding: 25px;
	margin: 25px;
	background-color: white; 
}

.guestBoxHead{
	color: black;
	font-family: Poppins, sans-serif;
}

.guestComment{
	color: black;
	font-family: Poppins, sans-serif;
	font-size: 12px;
	font-weight: none;
	margin:20 10 10 0;
	width: 90%;
}


// MEDIA QUERIES 

// media query for large (laptop): 1168px 

@media (max-width: $lrgWidth) {
    @for $i from 1 through $columns{
        .colL#{$i}{
            width:$columnWidth * $i;
        }

        .offsetL#{$i}{
            margin-left:$columnWidth * $i;
        }
        
        h1{
            font-size: 3em;
            letter-spacing: 1.5px;
            height: 50px;
        }

        p {
            font-size: 0.8em;
        }


    }
}


// media query for medium (tablet): 768px 

@media (max-width: $medWidth) {
    @for $i from 1 through $columns{
        .colM#{$i}{
            width:$columnWidth * $i;
        }

        .offsetM#{$i}{
            margin-left:$columnWidth * $i;
        }
        
    // (1) make main image into a background image
		.fullScreenBackImage{
			width: 100%;
			height: 500px;
			background-image: url("../images/HarbMainPic.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

    // (2) move header and nav bar down so they float on top of main background image
        .harbHeader{

        }
    // (3) delete black div (with < > arrows) for image gallery

    // (4) move welcome text to left from right

    // (5) display one gallery image (instead of 3)
    }
}


// media query for small (mobile): 412px 

@media (max-width: $smlWidth) {
    @for $i from 1 through $columns{
        .colS#{$i}{
            width:$columnWidth * $i;
        }

        .offsetS#{$i}{
            margin-left:$columnWidth * $i;
        }

    // (1) turn nav bar into dropdown nav (hamburger) and move to left side

    // (2) have 3 gallery images take up full row

    // (3) make welcome text take up full row

    // (4) put [our rooms text] + [room image] + [guest comment] on one row


    }
}

